[submodule "submodule/field-reflection"]
	path = submodule/field-reflection
	url = https://github.com/yosh-matsuda/field-reflection
[submodule "submodule/reflect-cpp"]
	path = submodule/reflect-cpp
	url = https://github.com/getml/reflect-cpp
[submodule "submodule/magic_enum"]
	path = submodule/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "submodule/doctest"]
	path = submodule/doctest
	url = https://github.com/doctest/doctest
[submodule "submodule/reflect-cpp-dependencies/csv"]
	path = submodule/reflect-cpp-dependencies/csv
	url = https://github.com/apache/arrow/
[submodule "submodule/reflect-cpp-dependencies/yaml"]
	path = submodule/reflect-cpp-dependencies/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "submodule/reflect-cpp-dependencies/json"]
	path = submodule/reflect-cpp-dependencies/json
	url = https://github.com/ibireme/yyjson
[submodule "submodule/reflect-cpp-dependencies/xml"]
	path = submodule/reflect-cpp-dependencies/xml
	url = https://github.com/zeux/pugixml
